/* .light {
  --main-primary: #10b981;
  --main-primary-hover: #34d399;
  --main-bg-light: #003c3b;
  --main-bg-dark: #e6f1f2;
  --main-btn-text: #064e3b;
  --main-btn-text-hover: #065f46;
  --main-text: #003c3b;
}

.dark {
  --main-primary: #eab308;
  --main-primary-hover: #facc15;
  --main-bg-light: #27272a;
  --main-bg-dark: #18181b;
  --main-btn-text: #713f12;
  --main-btn-text-hover: #854d0e;
  --main-text: #fafafa;
} */
